*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f1f0f0;
}
.main-container{
    margin-top: 20px;
    list-style-type: none;
    position: absolute;
    left: 40px;
    padding: 15px;
    background: #fff;
    border: 1px solid #BCE3C9;
    border-radius: 10px;
    font-size: 16px;
    min-width: 270px;
}
.list-container{
    display:flex;
   /* margin: 20px 10px; */
   min-width: 297px;
    /* border: 2px solid red; */
}
.left-list ul li, .right-list ul li{
    text-align: center;
    line-height: 48px;
    border-radius: 5px;
    border: 1px solid #F2F3F4;
    padding: 0px 12px;
    margin: 0 9px 9px 0;
    height: 50px;
}

.list li:hover{
    color: #3BB77E;
    border: 1px solid #3BB77E;
}
.plus-icon{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: #3BB77E;
    position: relative;
    font-size: 13px;
    font-family: "Quicksand", sans-serif;
    
}
.plus-icon img{
    width: 25px;  
}