
.main-container{
    margin-top: 20px;
    list-style-type: none;
    position: absolute;
    left: 0;
    padding: 15px;
    background: #fff;
    border: 1px solid #BCE3C9;
    border-radius: 10px;
    font-size: 16px;
    /* min-width: 300px; */
    z-index: 100;
} 
.list-container{
    display:flex;
   /* margin: 20px 10px; */
   min-width: 297px;
   width: auto;
    /* border: 2px solid red; */
    flex-wrap: wrap;
}
.list-container ul li{
    /* text-align: center; */
    line-height: 48px;
    border-radius: 5px;
    border: 1px solid #F2F3F4;
    padding: 4px 12px;
    margin: 10px 0px;
    /* margin: 0 9px 9px 0; */
    /* height: 50px; */
}

.list li:hover{
    color: #3BB77E;
    border: 1px solid #3BB77E;
}

.list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list > li >img{
    width: 30px;
    margin-right: 8px;
}
.plus-icon{
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #3BB77E;
    position: relative;
    font-size: 13px;
    font-family: "Quicksand", sans-serif;
    
}
.plus-icon img{
    width: 25px;  
}