
.banner-img {
    position: relative;
    clear: both;
    border-radius: 10px;
    overflow: hidden;
}

.banner-img img {
    border-radius: 10px;
    width: 100%;
}

.banner-img .banner-text {
    position: absolute;
    top: 50%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0 5%;
}

