
.banner-left-icon {
    background: #F4F6FA;
    padding: 0;
}
.banner-left-icon .banner-icon {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.banner-left-icon .banner-text h3 {
    color: #242424;
    font-size: 1rem;
    font-weight: 600;
}
@media(max-width: 575px) {
    .banner-icon {     
        font-size: small; 
    }
    .banner-left-icon{
        display: block;
        width: 100%;
    }
}