.card .hover-img {
  display: none;
  position: absolute;
  top: 0;
  left: 30px;
  height: 245px;
  width: 245px;
  /* margin-left: 100px; */
  z-index: 99;
  overflow: hidden;
  transition: 1s;
  -webkit-transition: 2s ease-in-out;
}
.card:hover .hover-img {
  display: inline;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  margin: 50px 0px;
}

.col {
  margin: 10px 20px;
  margin-left: 0px;
}

.card-img-top {
  height: 245px;
  width: 245px !important;
  margin: 0 auto;
}

.card-text {
  /* font-size: 14px; */
  font-weight: 800;
  cursor: pointer;
}

.card-text:hover {
  color: #3bb77e;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  flex-wrap: wrap;
  border: 1px solid #ececec;
  border-radius: 15px;
}

.card:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #bce3c9;
}

.custom-links-list button {
  color: #444;
  font-weight: 700;
}

.custom-links-list button:hover {
  color: #3bb77e;
}

.custom-links-list button:visited {
  color: #444;
}

.custom-links-list button:active {
  color: #3bb77e;
}

.section-title h3 {
  font-weight: 900;
  font-size: 30px;
}

.section-title h3 {
  font-weight: 900;

  font-size: 30px;
}

.custom-banners a {
  padding: 7px 8px 7px 12px;

  border: 1px solid #3bb77e;

  background-color: #3bb77e;

  color: #fff;

  font-size: 12px;

  text-transform: none;

  display: -webkit-inline-box;

  display: -ms-inline-flexbox;

  display: inline-flex;

  -ms-flex-wrap: wrap;

  flex-wrap: wrap;

  line-height: 1.3;
}

.custom-banners a:hover {
  background: #d29531;

  color: #fff;
}

.custom-banners h4 {
  font-weight: 700;

  margin-bottom: 15px;

  min-height: 100px;

  /* width: 210px; */

  font-size: 24px;

  color: #253d4e !important;
}

.banner-container {
  display: flex;

  justify-content: space-between;

  flex-wrap: wrap;
}

.card-img-overlay {
  top: 20%;

  left: 10%;
}

.custom-banners {
  display: flex;

  margin-right: 230px;

  margin-bottom: 50px;

  /* left: 50px; */
}

.custom-banners .card-img {
  width: 500px;

  height: 300px;
}
