.logo-header{
    border:1px solid  #ececec;
}

/* .search-location{
    margin-right: 45px;
} */
a, button {
    cursor: pointer;
}
.header-action-icon{
    background-color: #3BB77E ;
}
form select {
    color: #253D4E;
    border: 1px solid #ececec;
    transition: all .3s ease 0s;
    position: relative;
}
@media (max-width:1175) {
    .side-icons{
        display: none;
    }
    
}

@media (max-width: 991px) {
    .logo-header{
  
      display: none !important;
    }
    
  }