.newsletter {
  background: url(../image/banner-10.png) no-repeat center;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
}

.newsletter-content {
  padding: 8% 4%;
}
.newsletter-content h2 {
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  font-size: calc(1.1rem + 1vw);
}
.newsletter-content p {
  font-size: calc(0.7rem + 0.5vw);
}

.newsletter-image > img {
  width: 100%;
  padding: 0 4%;
}
.newsletter-content .input-group {
  border-radius: 50px;
}

.newsletter-content button[type="submit"] {
  background-color: #3bb77e;
  border-radius: 50px;
}
@media (min-width:605px) and (max-width: 768px) {
  /* .newsletter-content,
  p {
    font-size:x-large;
  } */
  /* .newsletter-content .input-group {
   
  } */
}
@media (max-width: 605px) {
  .newsletter {
    display: block !important;
  }
  .newsletter-content h2,
  p {
    text-align: center;
  }
  .newsletter-content .input-group {
    margin: auto;
  }
}
