* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* background: #f1f0f0; */
}
.App {
  max-width: 90vw;
  margin: auto;
}
ul {
  padding-left: 0;
}
